/*-----------------------------------------------------------------*/
/* Navbar
/*-----------------------------------------------------------------*/
.navup {
    width: 100%;
    height: 60px;
    background: #fff;
    color: #000;
    font-size: 35px;
    text-align: center;
}

.navdown {
    padding-left: 500px;
    padding-right: 500px;
    margin-top: -5px;
    width: 100%;
    height: 40px;
    background: #fff;
    color: #000;
    font-size: 18px;
}

/*-----------------------------------------------------------------*/
/* Ads
/*-----------------------------------------------------------------*/
.ads {
    background: #adbed2;
    width: 100%;
    height: 450px;
}

.container{
    text-align: center;
}

.container .con-l{
    margin-top: 40px;
    margin-left: 157px;
    width: 600px;
    height: 500px;
}

.container .con-r {
    margin-top: -500px;
    margin-left: 640px;
}
.container .con-r .imgr {
    margin-top: 10px;
}

/*-----------------------------------------------------------------*/
/* Category
/*-----------------------------------------------------------------*/
.card-group {
    width: auto;
    margin-top: 10px;
}

.card-group :hover {
    background: #adbed2;
}

.card-img-top {
    width: 64px;
    margin: auto auto;
    padding-top: 15px;
}